<nav class="navbar  navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse" style="color:white !important">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.php"><span>kleverator</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li>
            <a href="#" >Login</a>
          </li> -->
          <li ng-show="!auth_boll">
            <a class="error" ng-show='valid_boll'>{{ valid_status }}</a>
          </li>
          <li ng-show="!auth_boll">
            <form class="navbar-form navbar-right" >
             <div class="form-group">
               <input type="text" class="form-control" placeholder="@username" ng-model='username'>
               <input type="password" class="form-control" placeholder="password" ng-model='password'>
             </div>
             <button type="submit" class="btn btn-success" ng-click="goAuth()">login</button>
           </form>
          </li>
          <li ng-show='auth_boll && ' >
            <a ng-click="logout()">log out</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
